<nav class="mt-4 mx-4 p-4 bg-neutral-800 rounded-lg flex justify-between items-center">
	<a
		href="/"
		class="flex items-center gap-2 hover:opacity-50 transition-all"
	>
		<img
			src="/logo.png"
			alt="Color Battles Logo"
			width="24"
			height="24"
		/>
		<p class="text-lg">Color Battles - Created by @ToastedDev [Graphify Founder]</p>
	</a>
	<div class="flex gap-3">
		<a
			href="/compare"
			class="opacity-50 transition-all hover:underline hover:opacity-100"
		>
			Compare
		</a>
	</div>
</nav>